System/*.u
System/Promotional/*
*.bmp
*.jpg
*.png
*.idb
*.id0
*.id1
*.nam
*.log
*.til
*.s4m
*.$$$
*.zip
*.dll
*.bak
*.dds
*.psd
*DynamicLoadout.ini
*Autotest.ini
*Campaign.ini
*enbseries.ini
*MissionResults.ini
*MissionSelectionPanel.ini
*SwatGuiState.ini
*User.ini