Content/Animations
Content/Scenarios
Content/Textures
System/*.u
System/Packages.md5
System/Packages.txt
System/Promotional/*
System/Running.ini
System/adminlog_*.txt
System/chatlog_*.txt
*.bmp
*.jpg
*.png
*.idb
*.id0
*.id1
*.nam
*.log
*.til
*.$$$
*.zip
*.dll
*.bak
*.dds
*.psd
*.s4m
*.ukx
*.mopp
*.uax
*.wav
*.ogg
*.usx
*.umx
*.utx
*.orig
*DynamicLoadout.ini
*Autotest.ini
*Campaign.ini
*enbseries.ini
*MissionResults.ini
*MissionSelectionPanel.ini
*SwatGuiState.ini
*User.ini
*.h
*/.vs/*