System/*.u
System/Promotional/*
System/Running.ini
*.bmp
*.jpg
*.png
*.idb
*.id0
*.id1
*.nam
*.log
*.til
*.$$$
*.zip
*.dll
*.bak
*.dds
*.psd
*Autoplay.s4m
*autosave*.s4m
*DynamicLoadout.ini
*Autotest.ini
*Campaign.ini
*enbseries.ini
*MissionResults.ini
*MissionSelectionPanel.ini
*SwatGuiState.ini
*User.ini